body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.display-food{
    display: flex;
    padding-left: 3%;
    font-size: 25px;
    
}
    

#img{
    width: 80%;
    padding-top:5% ;
    padding-left:3%;
    border-radius:60px ;
    
    
}

#color{
    color:orangered;
}
.button{
    text-decoration: none;
    background-image: linear-gradient(salmon,orangered);
    padding:10px 20px;
    border-radius: 15px;
    color: aliceblue;
}
section{
    margin-bottom: 40px;
}
.mid{
    background-image: url(images/frame.png);
    
}
.last{
    text-align: center;
}
.final-box{
    box-shadow: 4px 12px 15px gray;
  
    padding: 30px 100px 40px;
    border-radius: 50px;
    width: 20%;
}
.final-box img{
    width: 80%;
    margin-left: 5%;
}

.footer{
    text-align: center;
    background-color:white ;
    color:white;
    background-color: darkslategrey;
    


}
    








